@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\66";
}
.icon-load:before {
  content: "\6a";
}
.icon-search:before {
  content: "\78";
}
.icon-bucar:before {
  content: "\79";
}
.icon-location:before {
  content: "\45";
}
.icon-files:before {
  content: "\48";
}
.icon-views:before {
  content: "\71";
}
.icon-hide:before {
  content: "\47";
}
.icon-heart:before {
  content: "\4d";
}
.icon-star:before {
  content: "\4e";
}
.icon-card:before {
  content: "\51";
}
.icon-list:before {
  content: "\52";
}
.icon-tags:before {
  content: "\56";
}
.icon-sort:before {
  content: "\58";
}
.icon-star2:before {
  content: "\6b";
}
.icon-edit:before {
  content: "\32";
}
.icon-fullscreen:before {
  content: "\37";
}
.icon-windows:before {
  content: "\39";
}
.icon-save:before {
  content: "\23";
}
.icon-share:before {
  content: "\24";
}
.icon-share3:before {
  content: "\25";
}
.icon-image:before {
  content: "\36";
}
.icon-menu:before {
  content: "\27";
}
.icon-upload:before {
  content: "\73";
}
.icon-wrench:before {
  content: "\28";
}
.icon-login:before {
  content: "\29";
}
.icon-logout:before {
  content: "\2a";
}
.icon-home:before {
  content: "\2c";
}
.icon-folder:before {
  content: "\2d";
}
.icon-telephone:before {
  content: "\3b";
}
.icon-bell2:before {
  content: "\43";
}
.icon-bell1:before {
  content: "\2e";
}
.icon-camera:before {
  content: "\3c";
}
.icon-globe:before {
  content: "\40";
}
.icon-level9:before {
  content: "\5b";
}
.icon-new:before {
  content: "\5d";
}
.icon-content:before {
  content: "\7c";
}
.icon-images:before {
  content: "\2b";
}
.icon-random:before {
  content: "\e006";
}
.icon-video:before {
  content: "\e00a";
}
.icon-file1:before {
  content: "\e00c";
}
.icon-file2:before {
  content: "\e00e";
}
.icon-trash:before {
  content: "\e00f";
}
.icon-usersecret:before {
  content: "\68";
}
.icon-arroba:before {
  content: "\e012";
}
.icon-level0:before {
  content: "\e014";
}
.icon-print:before {
  content: "\e016";
}
.icon-usercircle:before {
  content: "\e018";
}
.icon-clip:before {
  content: "\e019";
}
.icon-level8:before {
  content: "\61";
}
.icon-arrowup:before {
  content: "\63";
}
.icon-refresh:before {
  content: "\64";
}
.icon-user:before {
  content: "\65";
}
.icon-calendar:before {
  content: "\70";
}
.icon-calculator:before {
  content: "\72";
}
.icon-phone:before {
  content: "\75";
}
.icon-university:before {
  content: "\77";
}
.icon-mic:before {
  content: "\7a";
}
.icon-micno:before {
  content: "\41";
}
.icon-mute:before {
  content: "\49";
}
.icon-volumeup:before {
  content: "\4a";
}
.icon-volumedown:before {
  content: "\4b";
}
.icon-volume:before {
  content: "\4f";
}
.icon-soundoff:before {
  content: "\50";
}
.icon-soundalt:before {
  content: "\53";
}
.icon-sound:before {
  content: "\54";
}
.icon-equalizer:before {
  content: "\55";
}
.icon-headphones:before {
  content: "\57";
}
.icon-chat:before {
  content: "\5a";
}
.icon-readernaut:before {
  content: "\30";
}
.icon-book:before {
  content: "\31";
}
.icon-like:before {
  content: "\33";
}
.icon-dislike:before {
  content: "\34";
}
.icon-happy:before {
  content: "\21";
}
.icon-sad:before {
  content: "\22";
}
.icon-level13:before {
  content: "\76";
}
.icon-gift:before {
  content: "\4c";
}
.icon-puzzle1:before {
  content: "\7b";
}
.icon-level5:before {
  content: "\62";
}
.icon-analytics6:before {
  content: "\67";
}
.icon-cogs:before {
  content: "\6d";
}
.icon-database:before {
  content: "\6e";
}
.icon-music:before {
  content: "\6f";
}
.icon-plus:before {
  content: "\74";
}
.icon-reply:before {
  content: "\59";
}
.icon-analytics5:before {
  content: "\2f";
}
.icon-adress2:before {
  content: "\3f";
}
.icon-question:before {
  content: "\5e";
}
.icon-star3:before {
  content: "\5f";
}
.icon-text2:before {
  content: "\7d";
}
.icon-text1:before {
  content: "\7e";
}
.icon-level4:before {
  content: "\5c";
}
.icon-level3:before {
  content: "\e000";
}
.icon-level7:before {
  content: "\e001";
}
.icon-level11:before {
  content: "\e002";
}
.icon-analytics4:before {
  content: "\e003";
}
.icon-analytics3:before {
  content: "\e004";
}
.icon-book1:before {
  content: "\e005";
}
.icon-calendar1:before {
  content: "\e007";
}
.icon-analytics1:before {
  content: "\e009";
}
.icon-level12:before {
  content: "\e00b";
}
.icon-analytics2:before {
  content: "\e015";
}
.icon-level6:before {
  content: "\e017";
}
.icon-quoteright:before {
  content: "\e01a";
}
.icon-quoteleft:before {
  content: "\e01b";
}
.icon-puzzle:before {
  content: "\e01c";
}
.icon-menu3:before {
  content: "\e01d";
}
.icon-menu2:before {
  content: "\e01e";
}
.icon-unlock:before {
  content: "\e01f";
}
.icon-address:before {
  content: "\e020";
}
.icon-traffic:before {
  content: "\e021";
}
.icon-ticket:before {
  content: "\e022";
}
.icon-level1:before {
  content: "\e023";
}
.icon-level2:before {
  content: "\e024";
}
.icon-unlocked:before {
  content: "\e029";
}
.icon-lock:before {
  content: "\e02a";
}
.icon-checked:before {
  content: "\e02b";
}
.icon-check:before {
  content: "\e02c";
}
.icon-play-circle:before {
  content: "\69";
}
.icon-stop:before {
  content: "\44";
}
.icon-play:before {
  content: "\46";
}
.icon-level10:before {
  content: "\35";
}
.icon-youtube:before {
  content: "\38";
}
.icon-whatsapp:before {
  content: "\e008";
}
.icon-facebook:before {
  content: "\e010";
}
.icon-pinterest:before {
  content: "\e02d";
}
.icon-twitter:before {
  content: "\e02e";
}
.icon-instagram:before {
  content: "\e02f";
}
.icon-mail:before {
  content: "\e030";
}
.icon-linkedin:before {
  content: "\e031";
}
.icon-vimeo:before {
  content: "\6c";
}
.icon-language:before {
  content: "\42";
}
.icon-lang:before {
  content: "\26";
}
.icon-users:before {
  content: "\60";
}
.icon-care:before {
  content: "\e00d";
}
.icon-up:before {
  content: "\e011";
}
.icon-right:before {
  content: "\e013";
}
.icon-left:before {
  content: "\e032";
}
.icon-down:before {
  content: "\e033";
}
.icon-confi:before {
  content: "\e034";
}
.icon-grid:before {
  content: "\e039";
}
.icon-parentheses:before {
  content: "\e03a";
}
.icon-content1:before {
  content: "\e03c";
}
